.row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.row label {
    /* flex-grow: 2; */
    width: 20%;
}

.input {
    border-radius: 4px;
    padding: 8px 0 8px 8px;
    width: 50%;
    /* flex-grow: 3 */
}

.input:focus {
    outline: none;
    border: 2px solid rgba(144, 70, 174, 0.505)
}

.employmentBox {
    width: 50%;
    margin-right: 12px;
}

.employmentBox .input {
    width: 100%;
    margin-top: 8px;
}

.submitButton {
    border-radius: 16px;
    background-color: rgb(36, 36, 82);
    color: white;
    padding: 8px 10px;
    font-size: 14px;
    width: 20%;
}

.submitButtonLight {
    background-color: rgba(255, 255, 255, 0.756);
    color: black;
}

.labelLight {
    color: white;
}