* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-spacing: 0;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}